@import "@fontsource-variable/dm-sans";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-sans:
    "DM Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --background: hsl(224 0% 98.6%);
  --foreground: hsl(0 0% 0%);
  --card: hsl(224 0% 100%);
  --card-foreground: hsl(0 0% 0%);
  --popover: hsl(224 0% 99%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(0 0% 0%);
  --primary-foreground: hsl(224 0% 100%);
  --secondary: hsl(224 0% 92%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(224 10% 97%);
  --muted-foreground: hsl(224 4% 42%);
  --accent: hsl(224 0% 92%);
  --accent-foreground: hsl(0 0% 0%);
  --success: hsl(142 50% 40%);
  --success-foreground: hsl(355.7 100% 97.3%);
  --destructive: hsl(358 60% 50%);
  --destructive-foreground: hsl(224 0% 100%);
  --border: hsl(224 0% 90%);
  --input: hsl(224 0% 92%);
  --ring: hsl(0 0% 0%);
  --chart-1: hsl(41 100% 51%);
  --chart-2: hsl(224 86% 56%);
  --chart-3: hsl(224 0% 64%);
  --chart-4: hsl(224 0% 90%);
  --chart-5: hsl(224 0% 46%);
  --sidebar: hsl(224 0% 99%);
  --sidebar-foreground: hsl(0 0% 0%);
  --sidebar-primary: hsl(0 0% 0%);
  --sidebar-primary-foreground: hsl(224 0% 100%);
  --sidebar-accent: hsl(224 0% 92%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(224 0% 92%);
  --sidebar-ring: hsl(0 0% 0%);
  --radius: 1.25rem;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-hero-background: hsl(220 10% 65%);

  --radius-sm: calc(var(--radius) - 8px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 1rem;
    @media (width >= 60rem) {
      padding-inline: 1.5rem;
      max-width: 100dvw;
    }
  }

  .link {
    @apply text-muted-foreground hover:text-foreground inline-flex items-center gap-1.5 text-sm transition-all;
  }

  .box-reflect {
    /* -webkit-box-reflect: below -200px linear-gradient(rgba(0, 3, 0, 0.1)); */
  }

  .animate-marquee {
    animation: marquee linear infinite;
    animation-duration: 10s;

    @media (width >= 48rem) {
      animation-duration: 30s;
    }

    @media (width >= 64rem) {
      animation-duration: 50s;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-progress-bar {
    animation: progress-bar 1s ease-in-out infinite;
  }

  @keyframes progress-bar {
    0% {
      width: 0%;
      transform: translateX(0%);
    }
    50% {
      width: 70%;
    }
    100% {
      width: 100%;
      transform: translateX(100%);
    }
  }
}
